body {
    font-family: 'Montserrat',
    sans-serif;
    background-color: #F5F7FA;
}
.main-container {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    height: 1319px;
    background-color: white;
    margin: 40px auto;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
     /* Main-content-section */

.main-content-section {
    padding: 100px 90px;
}

     /* About me section */

.about-me-section {
    margin-bottom: 40px;
}
.about-my-profession{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: black;
    margin-bottom: 20px;
}
.my-name-title {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color:rgb(18, 23, 99);
    margin-bottom: 25px;
}
.about-me-description {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 400px;
}
    /* My projects section*/


.my-projects-section {
    margin-bottom: 50px;
}
.main-content-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000;
  margin: 0 0 10px 0;
}
.my-projects-list {
    padding-left: 17px;
}
.my-projects-item {
    color: #000;
    font-weight: bold;
}
.my-projects-link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.my-projects-text {
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 24px;
   color: #595959;
   margin-left: 6px;
}
.my-projects-fat {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

    /* My work experience section */


.work-experience-company {
    color:#FB6D3A;
}
.work-experience-position {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 10px 0;
}
.my-work-experience-time {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin: 0 0 10px 0;
}
.my-work-experience-divider {
    color:#000;
}
.my-work-experience-items {
    padding: 0 0 0 17px;
    margin: 0 0 16px 0;
}
.my-work-experience-duty{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
   /* My education section */

.my-education-section{
    margin: 40px 0 0 0;
}
.university-name {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
    margin: 0 0 10px 0;
}
.specialization-name {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    margin: 0 0 10px 0;
}
.my-education-time {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
}

    /* Sidebar section */
.sidebar {
    background-color:#1E2939;
    width: 370px;
    padding-top: 40px;
}
.contacts-section,
.tech-skills-section {
    margin: 50px 0px 0px 40px;
} 

.soft-skills-section {
 margin: 44px 0px 0px 40px;
}

.sidebar-title {
    color:white;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}
        /* Contacts section */

.contact-type {
    color:#fff;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    margin-right: 6px;
}
.contact-link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    opacity: 50%;
}
        /* Tech skillls section */

.skills-lists {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color:#FB6D3A;
    padding-left: 15px;
}
.white-text {
    color: white;
}